/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../fonts/Futura/Futura-Bold.css);
@import url(../fonts/Futura/Futura-Medium.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@media screen and (max-width: 770px) {
  .results .top .result_blocks .section {
    width: 100% !important;
    padding: 0 !important; } }

body {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 1em;
  line-height: 1.7em;
  background: #EFEFEF; }
  body.type_2 {
    background-color: #008C99; }

.header_bar, .top, .bottom {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  font-family: Georgia, serif; }
  @media screen and (max-width: 770px) {
    .header_bar, .top, .bottom {
      padding: 1em; } }

.white_wrap {
  background: #fff; }

.type_0 .home {
  display: block; }
.type_1 .home {
  display: none; }
.type_2 .home {
  display: none; }
.home .nav {
  display: none; }
.home p.next {
  font-family: "Futura-Medium", arial, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  background: #008C99;
  color: #fff;
  display: inline-block;
  padding: 16px 32px; }

.type_0 .quiz {
  display: none; }
.type_1 .quiz {
  display: block; }
.type_2 .quiz {
  display: none; }

.type_0 .results {
  display: none; }
.type_1 .results {
  display: none; }
.type_2 .results {
  display: block; }

.header_bar {
  padding: 16px 16px 8px;
  background: #fff;
  overflow: hidden; }
  @media screen and (max-width: 770px) {
    .header_bar {
      padding: 16px 16px 0; } }
  .header_bar .logo {
    float: right; }
    @media screen and (max-width: 770px) {
      .header_bar .logo {
        width: 64px;
        margin-bottom: 8px; } }
    .header_bar .logo img {
      max-width: 100%; }

.top {
  padding: 0 16px 16px;
  background: #fff;
  position: relative; }
  .top .header {
    font-family: "Futura-Bold", arial, sans-serif;
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 16px; }
    @media screen and (max-width: 770px) {
      .top .header {
        font-size: 2em; } }
  .top .subtitle {
    font-family: "Futura-Medium", arial, sans-serif;
    font-size: 1.2em;
    color: #A7ACAF;
    text-transform: uppercase;
    margin-bottom: 40px; }
    @media screen and (max-width: 770px) {
      .top .subtitle {
        font-size: 0.9em;
        margin-bottom: 16px; } }
  .top .nav {
    overflow: hidden;
    width: 100%;
    margin-bottom: -60px; }
    .top .nav div {
      width: 64px;
      cursor: pointer; }
      .top .nav div img {
        max-width: 100%; }
    @media screen and (max-width: 770px) {
      .top .nav {
        margin-bottom: -40px; }
        .top .nav div {
          width: 32px; }
          .top .nav div img {
            max-width: 100%; } }
    .top .nav .next {
      float: right; }
      .top .nav .next.hide {
        display: none; }
    .top .nav .prev {
      float: left; }
  .results .top .result_blocks {
    overflow: hidden; }
    .results .top .result_blocks .section {
      width: 50%;
      float: left;
      box-sizing: border-box; }
      .results .top .result_blocks .section._1 {
        padding-right: 50px; }
      .results .top .result_blocks .section._2 {
        padding-left: 50px; }
      .results .top .result_blocks .section h3 {
        color: #A7ACAF;
        font-family: "Futura-Medium", arial, sans-serif;
        text-transform: uppercase; }
        .results .top .result_blocks .section h3 span.bold {
          color: #000; }
      .results .top .result_blocks .section h2 {
        color: #000;
        font-family: "Futura-Bold", arial, sans-serif;
        font-size: 3em;
        line-height: 1.7em; }
      .results .top .result_blocks .section .result_txt p {
        margin: 16px 0; }
      .results .top .result_blocks .section p.stat {
        font-family: "Futura-Medium", arial, sans-serif;
        margin: 40px 0;
        font-size: 2em;
        line-height: 1.3em; }
        .results .top .result_blocks .section p.stat .txt {
          font-size: 0.8em;
          line-height: 1em; }
        .results .top .result_blocks .section p.stat .source {
          display: block;
          text-align: right;
          font-weight: 100;
          font-size: 0.5em; }
    .results .top .result_blocks .dial._1 .chart._1, .results .top .result_blocks .dial._2 .chart._2, .results .top .result_blocks .dial._3 .chart._3, .results .top .result_blocks .dial._4 .chart._4, .results .top .result_blocks .dial._5 .chart._5 {
      display: block; }
    .results .top .result_blocks .dial img {
      display: block;
      max-width: 100%;
      margin: auto; }
    .results .top .result_blocks .dial .chart {
      display: none; }
    .results .top .result_blocks .dial .arrow {
      margin-top: -100px;
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transition-duration: 1.5s;
      -o-transition-duration: 1.5s;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s; }

.bottom {
  padding: 0 16px; }
  .bottom .question {
    display: table;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 60px auto;
    max-width: 700px;
    height: 96px; }
    @media screen and (max-width: 770px) {
      .bottom .question {
        margin: 30px auto;
        height: 186px; } }
    .bottom .question .inner {
      display: table-cell;
      vertical-align: middle; }
  .bottom .selector_wrap .selector._1 .box:nth-child(-n+1), .bottom .selector_wrap .selector.temp_1 .box:nth-child(-n+1), .bottom .selector_wrap .selector._2 .box:nth-child(-n+2), .bottom .selector_wrap .selector.temp_2 .box:nth-child(-n+2), .bottom .selector_wrap .selector._3 .box:nth-child(-n+3), .bottom .selector_wrap .selector.temp_3 .box:nth-child(-n+3), .bottom .selector_wrap .selector._4 .box:nth-child(-n+4), .bottom .selector_wrap .selector.temp_4 .box:nth-child(-n+4), .bottom .selector_wrap .selector._5 .box:nth-child(-n+5), .bottom .selector_wrap .selector.temp_5 .box:nth-child(-n+5) {
    background: #008C99;
    color: #fff; }
  .bottom .selector_wrap {
    max-width: 900px;
    margin: auto;
    font-family: "Futura-Bold", arial, sans-serif; }
    .bottom .selector_wrap .selector {
      border: 1px solid #000;
      border-right: 0;
      overflow: hidden; }
      .bottom .selector_wrap .selector .box {
        box-sizing: border-box;
        width: 20%;
        float: left;
        border-right: 1px solid #000;
        line-height: 48px;
        cursor: pointer;
        background: #fff;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s; }
      .bottom .selector_wrap .selector.halt .box {
        background: #fff !important;
        color: #000 !important; }
    .bottom .selector_wrap .labels {
      overflow: hidden;
      text-transform: uppercase; }
      .bottom .selector_wrap .labels .left {
        float: left; }
      .bottom .selector_wrap .labels .right {
        float: right; }
  .bottom .cta_wrap {
    color: #fff; }
    .bottom .cta_wrap h2 {
      font-family: "Futura-Bold", arial, sans-serif;
      font-size: 1.5em;
      line-height: 1.7em;
      margin: 16px 0; }
    .bottom .cta_wrap p {
      max-width: 900px;
      margin: 40px auto;
      font-family: "Futura-Medium", arial, sans-serif; }
      .bottom .cta_wrap p a {
        color: #fff; }

.cta-text {
  font-size: 2em; }
  @media screen and (max-width: 570px) {
    .cta-text {
      font-size: 1.5em; } }
  .cta-text h3 {
    color: #A7ACAF;
    font-family: "Futura-Medium", arial, sans-serif;
    text-transform: uppercase; }
    .cta-text h3 span.bold {
      color: #000; }
  .cta-text h2.result_title {
    color: #000;
    font-family: "Futura-Bold", arial, sans-serif;
    font-size: 3em;
    line-height: 1.7em; }
    @media screen and (max-width: 425px) {
      .cta-text h2.result_title {
        font-size: 2em; } }
  .cta-text .text {
    max-width: 900px;
    margin: auto; }
    .cta-text .text h2 {
      line-height: 1.2em;
      margin: 32px 0 32px;
      font-family: "Futura-Medium", arial, sans-serif; }
    .cta-text .text p {
      font-size: 0.7em;
      margin: 16px 0; }

.thanks {
  color: #008C99; }
  .thanks.hide {
    display: none; }

.form {
  font-family: "Futura-Medium", arial, sans-serif;
  margin: 32px 0; }
  .form form {
    display: inline-block; }
    .form form.hide {
      display: none; }
  .form p {
    margin: 16px 0; }
  .form label {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-size: 1.1em; }
  .form input#tel, .form input#name, .form input#email {
    width: 200px;
    line-height: 1.5em;
    padding: 8px 16px;
    font-size: 1em;
    font-family: "Futura-Medium", arial, sans-serif;
    border: 1px solid #A7ACAF;
    color: #008C99; }
  .form input#submit {
    font-family: "Futura-Medium", arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
    background: #008C99;
    color: #fff;
    display: inline-block;
    padding: 16px 32px;
    border: 0;
    margin: 20px 0; }

.findoutmore {
  font-family: "Futura-Medium", arial, sans-serif;
  font-size: 1em;
  cursor: pointer;
  background: #008C99;
  color: #fff;
  display: inline-block;
  padding: 16px 32px;
  border: 0;
  margin: 20px 0;
  text-decoration: none; }

.progress {
  position: absolute;
  width: 100%;
  bottom: 0; }
  @media screen and (max-height: 782px) {
    .progress {
      position: relative;
      margin-top: 40px; } }
  @media screen and (max-height: 736px) and (max-width: 414px) {
    .progress {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0; } }
  @media screen and (max-height: 650px) and (max-width: 414px) {
    .progress {
      position: relative;
      margin-top: 40px; } }

.section h3 {
  color: #fff;
  font-family: "Futura-Bold", arial, sans-serif;
  font-size: 1.1em;
  line-height: 48px; }
  @media screen and (max-width: 770px) {
    .section h3 {
      line-height: 40px; } }
@media screen and (max-width: 440px) {
  .section {
    border-bottom: 1px; }
    .section .section_title {
      display: none; } }
.section.left {
  float: left;
  width: 48.27586%;
  border-color: #006973; }
  .section.left .section_title {
    background: #006973; }
  .section.left .block {
    width: 7.14286%; }
.section.right {
  float: right;
  width: 51.72414%;
  border-color: #008C99; }
  .section.right .section_title {
    background: #008C99; }
  .section.right .block {
    width: 6.66667%; }
.section .block_wrap {
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: inherit; }
  ._1 .section.left .block_wrap .block:nth-child(-n+1), ._2 .section.left .block_wrap .block:nth-child(-n+2), ._3 .section.left .block_wrap .block:nth-child(-n+3), ._4 .section.left .block_wrap .block:nth-child(-n+4), ._5 .section.left .block_wrap .block:nth-child(-n+5), ._6 .section.left .block_wrap .block:nth-child(-n+6), ._7 .section.left .block_wrap .block:nth-child(-n+7), ._8 .section.left .block_wrap .block:nth-child(-n+8), ._9 .section.left .block_wrap .block:nth-child(-n+9), ._10 .section.left .block_wrap .block:nth-child(-n+10), ._11 .section.left .block_wrap .block:nth-child(-n+11), ._12 .section.left .block_wrap .block:nth-child(-n+12), ._13 .section.left .block_wrap .block:nth-child(-n+13), ._14 .section.left .block_wrap .block, ._15 .section.left .block_wrap .block, ._16 .section.left .block_wrap .block, ._17 .section.left .block_wrap .block, ._18 .section.left .block_wrap .block, ._19 .section.left .block_wrap .block, ._20 .section.left .block_wrap .block, ._21 .section.left .block_wrap .block, ._22 .section.left .block_wrap .block, ._23 .section.left .block_wrap .block, ._24 .section.left .block_wrap .block, ._25 .section.left .block_wrap .block, ._26 .section.left .block_wrap .block, ._27 .section.left .block_wrap .block, ._28 .section.left .block_wrap .block, ._29 .section.left .block_wrap .block, ._15 .section.right .block_wrap .block:nth-child(-n+1), ._16 .section.right .block_wrap .block:nth-child(-n+2), ._17 .section.right .block_wrap .block:nth-child(-n+3), ._18 .section.right .block_wrap .block:nth-child(-n+4), ._19 .section.right .block_wrap .block:nth-child(-n+5), ._20 .section.right .block_wrap .block:nth-child(-n+6), ._21 .section.right .block_wrap .block:nth-child(-n+7), ._22 .section.right .block_wrap .block:nth-child(-n+8), ._23 .section.right .block_wrap .block:nth-child(-n+9), ._24 .section.right .block_wrap .block:nth-child(-n+10), ._25 .section.right .block_wrap .block:nth-child(-n+11), ._26 .section.right .block_wrap .block:nth-child(-n+12), ._27 .section.right .block_wrap .block:nth-child(-n+13), ._28 .section.right .block_wrap .block:nth-child(-n+14), ._29 .section.right .block_wrap .block:nth-child(-n+15) {
    background-color: #CCE8EB;
    cursor: pointer; }
  .section .block_wrap .block {
    border-right: 1px solid;
    border-color: inherit;
    height: 30px;
    float: left;
    box-sizing: border-box;
    background: #fff;
    color: #000; }
    @media screen and (max-width: 770px) {
      .section .block_wrap .block {
        height: 16px; } }
