/* Webfont: Futura-Medium */@font-face {
    font-family: 'Futura-Medium';
    src: url('Futura-Medium.eot'); /* IE9 Compat Modes */
    src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-Medium.woff') format('woff'), /* Modern Browsers */
         url('Futura-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-Medium.svg#Futura-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

